@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --c-yellow: #e0ea79;
  --c-purple: #bbbaf9;
  --c-red: #e75c3c;
  --c-blue: #beebf6;
  --c-pink: #ffc6dc;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  position: relative;
}
a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body-md {
    @apply font-apfel text-base leading-relaxed tracking-wide text-black;
  }

  .marquee-messapia {
    @apply font-messapia uppercase leading-tight tracking-normal text-black;
  }

  .marquee-apfel {
    @apply font-apfel text-xl uppercase leading-tight tracking-wide text-white;
  }

  .headline-md {
    @apply font-messapia text-lg uppercase leading-4 tracking-tight text-black;
  }

  .headline-lg {
    @apply font-messapia text-3xl uppercase leading-8 tracking-tight text-black md:text-5xl;
  }
}
